__pycache__/*
lib/__pycache__/*
lib/__pycache__/
__pycache__/
*.log
*.db
*.sql
config/instance/config.py
weather/weather.db
getpastdb.py
run.py
*.geany
homenv
temp.txt
.idea/
idea/*
.vscode
current.json
forecast.json
testcurrent.json
test_api.py
template.py
*.swp
weatherkiosk/*.swp
*.swo
test_info_collect.py
test_publish.py
test_subscribe.py
# weatherapi.py
forecastwa.json
weather/tmod.py
